{% extends "school/base.html" %} <!--Наследует шаблон base.html, который является базовым шаблоном для всех страниц сайта-->
{% load static %} <!-- Загружает статические файлы, такие как CSS и JavaScript, которые могут быть использованы на странице -->
{% block title %}Список учеников{% endblock %} <!--Задает заголовок страницы, который будет отображаться в браузере -->
{% block content %} <!-- Начинает блок контента, который будет заменен содержимым этого шаблона в базовом шаблоне -->
<div class="row"> <!-- Создает контейнер для размещения элементов в ряд -->
 <ul> <!-- Начинает неупорядоченный список для отображения учеников -->
{% for student in students %} <!-- Начинает цикл по списку объектов (учеников), переданных в шаблон -->
    <li>{{ student.name }} {{ student.group }} <br> Преподаватель: {{ student.teacher.name }} {{ student.teacher.subject }}</li> <!-- Выводит информацию об ученике и его преподавателе в элементе списка -->
 {% endfor %} <!-- Завершает цикл по списку учеников -->
 </ul> <!-- Завершает неупорядоченный список -->
</div> <!-- Завершает контейнер для размещения элементов в ряд -->
{% endblock %} <!-- Завершает блок контента -->
